<div class="container-fluid" ng-controller="ProductController">

    <h3>List of Products</h3>

    <div class="btn-toolbar">
        <button ng-click="new()" class="btn btn-primary">New</button>
        <button ng-click="edit()" ng-disabled="product == null" class="btn btn-primary">Edit</button>
        <button ng-click="delete()" ng-disabled="product == null" class="btn btn-danger">Delete</button>
    </div>
    <br/>
    
    <div class="gridStyle" ng-grid="gridOptions" style="height: 500px;">

    </div>
        
    <script type="text/ng-template" id="productModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Product Registration</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" ng-include="template.url">
                
            </div>
        </div>
    </script>
    
    <script type="text/ng-template" id="deleteProductModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Delete Product</h3>
        </div>
        <div class="modal-body">
            <p>{{ message }}</p>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="confirm()" class="btn btn-primary">Confirm</button>
            <button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>
        </div>
    </script>

</div>